body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	display: block;
	margin: auto;
	width: 50%;
	height: 50%;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.container-1 {
	text-align: center;
}

.container-2 {
	text-align: center;
}