.menu {
	display: flex;
}

#button-1 {
	border-style: groove;
	border-width: 2px;
	margin: 0px 5px 0px 5px; 
}

#button-2 {
	border-style: groove;
	border-width: 2px;
	margin: 0px 5px 0px 5px;
}

#button-3 {
	border-style: groove;
	border-width: 2px;
	margin: 0px 5px 0px 5px;
}