
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container-1">
	<div class="img-container">
		<img src="/images/img1.jpg" style="width: 75%; height: 75%" >
	</div>

	<div class="img-container">
		<img src="/images/img2.jpg" style="width: 75%; height: 75%">
	</div>
</div>

<div class="container-2"
	<div class="img-container">
		<img src="/images/img3.jpg" style="width: 75%; height: 75%">
	</div>

	<div class="img-container">
		<img src="/images/img4.jpg" style="width: 75%; height: 75%">
	</div>
</div>






